/**
 * Custom CSS.
 */

/* Change search background */
/*
.wy-side-nav-search {
  background-color: darkred;
}
*/

/* Somehow bullet lists vanished from the theme */
/*
li {
  list-style: disc!important;
}
*/
